<p id="notice"><%= notice %></p>

<h1>Товары</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= link_to 'Подробнее', product %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Редактировать', edit_product_path(product)%></td>
        <td><%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверены?' }%></td>
        <td> <a href="/cart/<%= product.id%>"> Добавить в корзину </a></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Новый товар', new_product_path if user_signed_in? %>
<%= link_to 'Корзина', cart_path if user_signed_in? %>


